extends layout.pug

append head
  script(src='/javascripts/script.js' type='module' defer)

block content
  div
    h1 Movie Library
  div(class='py-3')
  table(class='table')
    thead(class='thead-dark')
      tr
        th(scope='col') Title
        th(scope='col') Director
        th(scope='col') Release Date
        th(scope='col') Rating
        th(scope='col') Scare Level
        th(scope='col') Add To Graveyard

    tbody
      each horrorMovie in horrorMovies
        tr
          td: a(href=`/movies/${horrorMovie.id}`) #{horrorMovie.title}
          td= horrorMovie.director
          td= horrorMovie.releasedate
          td= horrorMovie.rating
          td= horrorMovie.scarelevel
          td
            div
                form(action='/user/watchlist' method='post')
                  input(type='hidden' name='horrormovieid' value=horrorMovie.id)
                  button(type='submit' class='btn1' id=`movie_${horrorMovie.id}`) Add Movie To Graveyard
