extends layout.pug

block content
    h1= result.title
    div
        h3= `Directed By: ${result.director}`
        h3= `Scare Level: ${result.scarelevel}`
        h3= `Rating: ${result.rating}`
        h3= `Release Date: ${result.releasedate}`
        h3= `Subgenre: ${result.subGenre}`
    form(action='/user/watchlist' method='post')
                  input(type='hidden' name='horrormovieid' value=result.id)
                  button(type='submit' class='btn btn-primary') Add Movie To Graveyard

    <!-- Add a photo here later-->
    p IMAGE INCOMING
            div(class='buttons')
    button(id='upvote') upvote
        p(id='up')
    button(id='downvote') downvote
        p(id='down')
    <!-- Add a movie description -->
    h3 Edit Your Review
    div
        form(action=`/movies/${result.HorrorMovie.id}/edit` class='review-input' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            label(for='review')
            textarea(type='text' name='review' placeholder=`${result.review}`)
            input(type='hidden' name='reviewid' value=result.id)
            button(class='btn btn-primary' type='submit') Submit
    div(class='bigReviewBoxDiv')
        ul
            //- each userReview in result.Reviews
            //-     div(class='smallReviewBoxDiv')
            //-         li= userReview.review
            //-             form(action=`movies/${result.id}/edit/${userReview.id}` class='review-input' method='post')
            //-                 label(for='review')
            //-                 input(type='hidden' name='reviewid' value=userReview.id)
            //-                 input(type='hidden' name='horrormovieid' value=result.id)
            //-                 button(class='btn btn-primary' type='submit') Edit Review
            //-             form(action=`/movies/${result.id}/delete` class='review-input' method='post')
            //-                 label(for='review')
            //-                 input(type='hidden' name='reviewid' value=userReview.id)
            //-                 input(type='hidden' name='horrormovieid' value=result.id)
            //-                 button(class='btn btn-primary' type='submit') Delete Review
