extends layout.pug
append head
  script(src='/javascripts/graveyard-script.js' type='module' defer)
  title="Express Starter App"
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/layout.css')
block content

  div(class='movie-graveyard-div')
    h1 My Movie Graveyard
  div(class='py-3')
  table(class='table table-striped table-hover')
    thead(class='thead-dark')
      tr
        th(scope='col' class='reviewtext') Title
        th(scope='col' class='reviewtext') Director
        th(scope='col' class='reviewtext') Release Date
        th(scope='col' class='reviewtext') Rating
        th(scope='col' class='reviewtext') Scare Level
        th(scope='col' class='reviewtext') Remove From Graveyard

    tbody
      each watchlist in horrorMovies
        tr
          td(id='title' class='reviewtext'): a(href=`/movies/${watchlist.HorrorMovie.id}`) #{watchlist.HorrorMovie.title}
          td(id='director' class='reviewtext')= watchlist.HorrorMovie.director
          td(id='releasedate' class='reviewtext')= watchlist.HorrorMovie.releasedate
          td(id='rating' class='reviewtext')= watchlist.HorrorMovie.rating
          td(id='scarelevel' class='reviewtext')= watchlist.HorrorMovie.scarelevel
          td(id='graveyard' class='reviewtext')
            div
                form(action='/user/watchlist/:id/delete' method='post')
                  input(type='hidden' name='_csrf' value=csrfToken)
                  input(type='hidden' name='horrormovieid' value=watchlist.id)
                  button(type='submit' class='exhume logout-button' id=`${watchlist.HorrorMovie.id}`) Remove Movie From Graveyard
